In [124]:
import pandas as pd
import os
import pickle as pkl
import openpyxl

In [160]:
def load_excel_files(folder_path):
    """
    Load all Excel files from a folder into a list of DataFrames.

    Parameters:
    folder_path (str): Path to the folder containing Excel files.

    Returns:
    list of pandas.DataFrame: List of DataFrames containing data from each Excel file.
    """
    dfs = []
    files = os.listdir(folder_path)
    count = 0
    for file in files:
        if file.endswith('.xlsx') or file.endswith('.xls'):
            count += 1
            print(file)
            file_path = os.path.join(folder_path, file)
            df = pd.read_excel(file_path)
            # Add a new column for the file name to keep track of the source
            distinguisher = str(' ' + str(count))
            df['source'] = distinguisher
            
            # If 'REMS Proerty ID' exists, rename it to 'property_id'
            if 'REMS Proerty ID' in df.columns:
                df = df.rename(columns={'REMS Proerty ID': 'property_id'})
                
            # Reorder columns to ensure 'source' column comes first
            if 'source' in df.columns:
                cols = list(df.columns)
                cols.insert(0, cols.pop(cols.index('source')))
                df = df[cols]
            
            dfs.append(df)
    
    return dfs

# Load all Excel files into a list of DataFrames
folder_path = "/Users/nicobykhovsky/Desktop/HUDsearch/excelFiles"
dfs = load_excel_files(folder_path)

MF_Assistance_&_Sec8_Contracts1.xlsx
202directloans03052024.xlsx
contractrenewaallcontracts.xls

/Users/nicobykhovsky/Desktop/HUDsearch/myenv1/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

MF_Properties_with_Assistance_&_Sec8_Contracts1.xlsx
contractsrentutilityamt.xls

In [161]:
for df in dfs:
    if 'property_id' in df.columns:
        property_id_column = df['property_id']
        df.drop(columns=['property_id'], inplace=True)
        df.insert(0, 'property_id', property_id_column)

In [162]:
dfs[0]

,property_id,source,contract_number,property_name_text,tracs_effective_date,tracs_overall_expiration_date,tracs_overall_exp_fiscal_year,tracs_overall_expire_quarter,tracs_current_expiration_date,tracs_status_name,...,1BR_count,2BR_count,3BR_count,4BR_count,5plusBR_count,0BR_FMR,1BR_FMR,2BR_FMR,3BR_FMR,4BR_FMR
0,800000008,1,NH36T791024,Amoskeag Residences Group Home ...,2022-08-02,2042-08-31,2042,Q4,2042-08-31,Active,...,8.0,0.0,0.0,0.0,0.0,0.0,1348.0,0.0,0.0,0.0
1,800000012,1,MO16T791008,BOOTH MANOR ...,2021-11-01,2026-10-31,2027,Q1,2024-10-31,Active,...,79.0,1.0,0.0,0.0,0.0,0.0,1098.0,1258.0,0.0,0.0
2,800000013,1,FL29Q921001,BRADENTON VOA LIVING CENTER ...,2023-06-01,2024-05-31,2024,Q3,2024-05-31,Active,...,8.0,0.0,0.0,0.0,0.0,0.0,1502.0,0.0,0.0,0.0
3,800000015,1,NY06Q901003,BROOME CO VOA LIVING CTR ...,2023-06-03,2024-06-02,2024,Q3,2024-06-02,Active,...,20.0,0.0,0.0,0.0,0.0,0.0,904.0,0.0,0.0,0.0
4,800000016,1,MD06L000037,PEDESTAL GARDENS AFFORDABLE APTS. ...,2021-04-01,2041-03-31,2041,Q2,2024-03-31,Active,...,15.0,43.0,40.0,0.0,0.0,0.0,1582.0,1943.0,2519.0,2849.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24178,800257026,1,NJ39RDD1335,NJ39RDD1335 ...,2019-10-29,2039-10-28,2040,Q1,2039-10-28,Pending,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24179,800257027,1,NJ39RDD1346,NJ39RDD1346 ...,2023-09-01,2043-08-31,2043,Q4,2043-08-31,Pending,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24180,800257044,1,PA260945206,Von Louhr ...,2024-01-02,2044-01-01,2044,Q2,2044-01-01,Active,...,0.0,16.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24181,800257045,1,PA260945203,New Market West ...,2024-01-02,2044-01-01,2044,Q2,2025-01-01,Active,...,23.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24182,800257046,1,PA260945204,West Philadelphia ...,2024-01-02,2044-01-01,2044,Q2,2025-01-01,Active,...,0.0,3.0,27.0,5.0,2.0,0.0,0.0,0.0,0.0,0.0

In [163]:
dfs[1]

,property_id,source,Hub,Servicing Site,Property Name,Project Street Address 1,Project Street Address 2,Project City Address,Project State,Project Zip Code,...,SOA Description,Project Number of Units,Project Number of Assisted Units,Initial Endorsement Date,Final Endorsement Date,Loan Maturity Date,Original Mortgage Amount,Original Interest Rate,Amortized Unpaid Principal Balance,Owner Organization Name
0,800000356,2,Atlanta,Atlanta,ONDERDONK COTTAGES,1750 SHELTON BEACH RD S,,MOBILE,AL,36613,...,202/162 Direct Loan for Handicapped w/PAC ...,25,24,1991-09-17,1993-05-19,2032-09-01,959400.0,9.000,526260.61,"MOBILE VOA INDEPENDENT HOUSING, INC."
1,800012455,2,Atlanta,Atlanta,AS DURHAM CO. GROUP HOME #1,5004 KENWOOD RD,,DURHAM,NC,27712,...,202/162 Direct Loan for Handicapped w/PAC ...,7,6,1991-09-25,1992-12-11,2032-06-01,227000.0,8.375,117138.19,AUTISM SOCIETY DURHAM COUNTY HOUSING CORP. #1
2,800013312,2,Atlanta,Atlanta,WNC COMMUNITY HOMES #3,495 TRIPOLIS ST,,CONCORD,NC,28025,...,202/162 Direct Loan for Handicapped w/PAC ...,7,6,1991-06-14,1993-02-03,2031-12-01,224700.0,9.000,118329.47,WESTERN NORTH CAROLINA COMMUNITY HOMES #3 INC
3,800007862,2,Atlanta,Atlanta,RUSSELLVILLE RESIDENCE,105 EDGEWOOD DR,,RUSSELLVILLE,KY,42276,...,202/162 Direct Loan for Handicapped w/PAC ...,8,8,1991-05-29,1992-05-13,2032-01-01,245000.0,9.000,127136.09,Lifeskills Residential
4,800012213,2,Atlanta,Atlanta,NORTH WILLOWS,168 FERNWOOD ST,,JACKSON,MS,39206,...,202/162 Direct Loan for Handicapped w/PAC ...,11,10,1991-09-30,1992-09-28,2032-05-01,404300.0,9.000,215891.05,"NORTH WILLOWS, INC."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
824,800000978,2,San Francisco,San Francisco,Villa Escudilla,360 S Papago St,,Springerville,AZ,85938,...,202/8 Direct Loan/ Elderly-Handicapped ...,32,32,1986-03-26,1987-07-31,2027-05-01,966500.0,9.250,251008.18,WMCH DEVELOPMENT CORPORATION
825,800000977,2,San Francisco,San Francisco,Villa De Confianza,2060 NORTH 35TH AVENUE,,PHOENIX,AZ,85009,...,202/8 Direct Loan/ Elderly-Handicapped ...,10,10,1991-09-12,1993-06-25,2032-06-01,526000.0,9.000,282804.52,Villa De Confianza
826,800000976,2,San Francisco,San Francisco,Villa Agave,7439 S 7th St,,Phoenix,AZ,85042,...,202/8 Direct Loan/ Elderly-Handicapped ...,9,8,1985-04-02,1986-06-24,2026-02-01,367100.0,9.250,60957.80,Villa Agave Corporation
827,800000975,2,San Francisco,San Francisco,Verde View Senior Apartments,377 W State Route 260,,Camp Verde,AZ,86322,...,202/8 Direct Loan/ Elderly-Handicapped ...,41,40,1990-04-30,1992-01-27,2031-05-01,1505200.0,8.375,702497.43,"CAMP VERDE RHF HOUSING, INC."
828,800000974,2,San Francisco,San Francisco,Verde Valley Manor,3400 E Godard Rd,,Cottonwood,AZ,86326,...,202/8 Direct Loan/ Elderly-Handicapped ...,8,8,1984-04-25,1985-08-30,2025-01-01,251900.0,9.250,19113.97,"Verde Valley Manor Retirement Center, Inc."

In [164]:
dfs[2]

,property_id,source,contract_number,program_category,program_type_name,program_type_group_code,program_type_group_name,tracs_effective_date,tracs_overall_expiration_date,tracs_current_expiration_date,...,renewal_id,renewal_option_code,renewal_option_name,renewal_status_code,renewal_status_name,renewal_type_name,renewal_rents_final_ind,owner_submitted_date,renewal_expiration_date,renewal_stage_expiration_date
0,800000086,3,AK020002001,Section 8,Sec 8 NC,S8NC,Other S8 New,2023-08-01,2024-07-31,2024-07-31,...,27,00,...,03,Option Selected - In Process,Renewal,,NaT,2024-07-31,NaN
1,800000093,3,AK020004001,Section 8,Sec 8 NC,S8NC,Other S8 New,2021-06-01,2031-05-31,2024-05-31,...,24,79,3b: Request Renewal of Full Mark to Market Con...,03,Option Selected - In Process,Amend Rents,N,NaT,2031-05-31,NaN
2,800000113,3,AK020005001,Section 8,Sec 8 NC,S8NC,Other S8 New,2023-12-01,2033-11-30,2024-11-30,...,25,79,3b: Request Renewal of Full Mark to Market Con...,04,Completed,Renewal,Y,2023-08-02,2023-11-30,NaN
3,800000083,3,AK020006001,Section 8,Sec 8 NC,S8NC,Other S8 New,2021-06-01,2031-05-23,2024-05-31,...,21,79,3b: Request Renewal of Full Mark to Market Con...,04,Completed,Amend Rents,Y,NaT,2031-05-23,NaN
4,800000089,3,AK020007002,Section 8,Sec 8 NC,S8NC,Other S8 New,2013-01-01,2032-12-31,2024-12-31,...,24,72,2: Request Renewal Without Restructuring at or...,04,Completed,Amend Rents,Y,NaT,2032-12-31,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24178,800077890,3,WA19Q961001,PRAC,PRAC/811,PRAC,PRAC 202/811,2023-08-21,2024-08-20,2024-08-20,...,0,,...,,,,N,NaT,NaT,NaN
24179,800255401,3,GA06RDD1262,811 PRA DEMO,811 PRA DEMO,PRAD,811 PRA Demo,2020-09-01,2040-08-31,2040-08-31,...,0,,...,,,,N,NaT,NaT,NaN
24180,800256923,3,NJ39RDD1320,811 PRA DEMO,811 PRA DEMO,PRAD,811 PRA Demo,2018-08-17,2038-08-16,2038-08-16,...,0,,...,,,,N,NaT,NaT,NaN
24181,800247403,3,TX59RDD1223,811 PRA DEMO,811 PRA DEMO,PRAD,811 PRA Demo,2018-06-01,2038-05-31,2038-05-31,...,0,,...,,,,N,NaT,NaT,NaN
24182,800256640,3,VA36RDD1901,811 PRA DEMO,811 PRA DEMO,PRAD,811 PRA Demo,2023-08-09,2043-08-08,2043-08-08,...,0,,...,,,,N,NaT,NaT,NaN

In [165]:
dfs[3]

,property_id,source,hub_name_text,servicing_site_name_text,property_name_text,property_phone_number,address_line1_text,address_line2_text,city_name_text,state_code,...,mgmt_agent_org_name,mgmt_agent_address_line1,mgmt_agent_address_line2,mgmt_agent_city_name,mgmt_agent_state_code,mgmt_agent_zip_code,mgmt_agent_zip4_code,mgmt_agent_main_phone_number,mgmt_agent_main_fax_number,mgmt_contact_email_text
0,800256849,4,,,GA06RD00096 ...,NaN,,,,,...,,,,,,,,,,
1,800000061,4,Atlanta,Atlanta,Shawnee Renaissance Apartments ...,502-589-2272,1000 E Liberty St,,Louisville,KY,...,New Directions Hsng Corp,1617 Maple St.,,Louisville,KY,40210,1029,(502) 719-7147,502-589-3256,bridgettej@ndhc.org
2,800000125,4,Atlanta,Atlanta,ANDALUSIA/ENTERPRISE GROUP HOME ...,334-666-4431,209 OAK ST,,ANDALUSIA,AL,...,"Volunteers of America Southeast, Inc.",1204 Hillcrest RD,,MOBILE,AL,36695,,(251) 338-1264,(251) 459-6178,wdavis@voase.org
3,800000126,4,Atlanta,Atlanta,"Community Options, Inc. ...",205-503-4035,8400 DIVISION AVENUE,,BIRMINGHAM,AL,...,The Arc of Central Alabama,6001 Crestwood Blvd.,,Birmingham,AL,35212,,205-503-4040,205-201-4173,dallas.vice@arcofcentralalabama.org
4,800000127,4,Atlanta,Atlanta,AGAPE HOUSE ...,205-781-3006,2100 Avenue H Ensley,,BIRMINGHAM,AL,...,"AIDS Alabama, Inc.",3529 7th Avenue South,,Birmingham,AL,35222,,2053249822,,finney@aidsalabama.org
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23474,800253391,4,San Francisco,San Francisco,George D. McKinney Retirement Center ...,(619) 264-1997,5700 Imperial Avenue,,San Diego,CA,...,"FPI Management, Inc.",800 Iron Point Road,,Folsom,CA,95630,,(916) 357-5312,(916) 357-5310,nina.schaefer@fimgt.com
23475,800253783,4,San Francisco,San Francisco,Adcock Joyner Apartments ...,510-839-0248,532 16th St,,Oakland,CA,...,532 16th Street Inc,532 16th Street,,Oakland,CA,94612,,510-839-0248,,crossgrate@thewilkerson.com
23476,800253963,4,San Francisco,San Francisco,Pacific Meadows ...,831-624-9355,5315 Carmel Valley Road,,Carmel,CA,...,HumanGood Affordable Housing,1900 Huntington Drive,,Duarte,CA,91010,,818-247-0420,925-924-7101,Brenda.Thomas@HumanGood.org
23477,800255154,4,San Francisco,San Francisco,Waterstone Apartments ...,(833) 653-9219,9901 Lurline Avenue,,Los Angeles,CA,...,Pinnacle California Corporation,c/o Krystal Willis,"2600 Lake Lucien Drive, Suite 300",Maitland,FL,32751,,(407) 949-3214,,Nicole.McClairn@cushwake.com
23478,800255657,4,San Francisco,San Francisco,Park Villa Apartments ...,NaN,260-280 Park Ave,,El Cajon,CA,...,"FPI Management, Inc.",800 Iron Point Road,,Folsom,CA,95630,,(916) 357-5312,(916) 357-5310,Jackalyn.Meno@fpimgt.com

In [166]:
dfs[4]

,property_id,source,contract_number,assistance_bedroom_count,assistance_unit_count,contract_rent_amount,fair_market_rent_amount,utility_allowance_amount
0,800000001,5,075002NIRAP,1,8,319,0,12
1,800000001,5,075002NIRAP,2,12,341,0,16
2,800000008,5,NH36T791024,1,8,2163,1348,0
3,800000012,5,MO16T791008,1,79,859,1098,40
4,800000012,5,MO16T791008,2,1,1226,1258,69
...,...,...,...,...,...,...,...,...
53140,800019596,5,SC16A001002,2,12,435,1599,68
53141,800019597,5,SC160052018,1,40,630,757,82
53142,800019597,5,SC160052018,2,10,712,994,110
53143,800019599,5,SC160075061,1,32,718,825,94
53144,800019599,5,SC160075061,2,64,838,957,124

In [167]:
for df in dfs:
    if 'property_id' in df.columns:
        print('true')

true
true
true
true
true

In [168]:
merged_df = dfs[0].copy()  # Start with the first DataFrame

# Loop through the remaining dataframes
for df in dfs[1:]:
    # Rename columns to avoid conflicts
    df = df.rename(columns={col: f'{col}_{df["source"].iloc[0]}' for col in df.columns if col != 'property_id'})
    
    # Merge dataframes based on 'property_id'
    merged_df = pd.merge(merged_df, df, on='property_id', how='outer')

# Sort columns alphabetically
merged_df = merged_df.reindex(sorted(merged_df.columns), axis=1)


for col in merged_df.columns:
    print(col)

merged_df.head()

0BR_FMR
0BR_count
1BR_FMR
1BR_count
2BR_FMR
2BR_count
3BR_FMR
3BR_count
4BR_FMR
4BR_count
5plusBR_count
Amortized Unpaid Principal Balance_ 2
Final Endorsement Date_ 2
Hub_ 2
Initial Endorsement Date_ 2
Loan Maturity Date_ 2
Mortgage Holder Name_ 2
Original Interest Rate_ 2
Original Mortgage Amount_ 2
Owner Organization Name_ 2
Project City Address_ 2
Project FHA Number Suffix_ 2
Project FHA Number_ 2
Project Number of Assisted Units_ 2
Project Number of Units_ 2
Project Occupancy Date_ 2
Project Phone Number_ 2
Project State_ 2
Project Street Address 1_ 2
Project Street Address 2_ 2
Project Zip Code Plus 4_ 2
Project Zip Code_ 2
Property Name_ 2
SOA Description_ 2
SOA Numeric Name_ 2
Section Act Code_ 2
Servicing Mortgagee Name_ 2
Servicing Site_ 2
address_line1_text_ 4
address_line2_text_ 4
assistance_bedroom_count_ 5
assistance_unit_count_ 5
assisted_units_count
assisted_units_count_ 3
associated_financing_Number_ 4
city_name_text_ 4
congressional_district_code_ 4
contract_doc_type_code
contract_doc_type_code_ 3
contract_number
contract_number_ 3
contract_number_ 5
contract_rent_amount_ 5
contract_term_months_qty
contract_term_months_qty_ 3
county_code_ 4
county_name_text_ 4
fair_market_rent_amount_ 5
hub_name_text_ 4
is_202_811_ind_ 4
is_221d3_ind_ 4
is_221d4_ind_ 4
is_236_ind_ 4
is_acc_old_ind
is_acc_performance_based_ind
is_assisted_living_ind_ 4
is_bmir_ind_ 4
is_board_and_care_ind_ 4
is_co_insured_ind_ 4
is_hospital_ind_ 4
is_hud_administered_ind
is_hud_held_ind_ 4
is_hud_owned_ind_ 4
is_insured_ind_ 4
is_mip_ind_ 4
is_non_insured_ind_ 4
is_nursing_home_ind_ 4
is_opportunity_zone_ind_ 4
is_refinanced_ind_ 4
is_risk_sharing_ind_ 4
maximum_contract_unit_count_ 3
mgmt_agent_address_line1_ 4
mgmt_agent_address_line2_ 4
mgmt_agent_city_name_ 4
mgmt_agent_company_type_ 4
mgmt_agent_full_name_ 4
mgmt_agent_indv_first_name_ 4
mgmt_agent_indv_last_name_ 4
mgmt_agent_indv_middle_name_ 4
mgmt_agent_indv_title_text_ 4
mgmt_agent_main_fax_number_ 4
mgmt_agent_main_phone_number_ 4
mgmt_agent_org_name_ 4
mgmt_agent_participant_id_ 4
mgmt_agent_state_code_ 4
mgmt_agent_zip4_code_ 4
mgmt_agent_zip_code_ 4
mgmt_contact_email_text_ 4
msa_code_ 4
msa_name_text_ 4
owner_address_line1_ 4
owner_address_line2_ 4
owner_city_name_ 4
owner_company_type_ 4
owner_contact_email_text_ 4
owner_individual_first_name_ 4
owner_individual_full_name_ 4
owner_individual_last_name_ 4
owner_individual_middle_name_ 4
owner_individual_title_text_ 4
owner_main_fax_number_text_ 4
owner_main_phone_number_text_ 4
owner_organization_name_ 4
owner_participant_id_ 4
owner_state_code_ 4
owner_submitted_date_ 3
owner_zip4_code_ 4
owner_zip_code_ 4
ownership_effective_date_ 4
placed_base_city_name_text_ 4
primary_financing_type_ 4
program_category_ 3
program_type_group_code
program_type_group_code_ 3
program_type_group_name
program_type_group_name_ 3
program_type_name
program_type_name_ 3
property_category_name_ 4
property_id
property_name_text
property_name_text_ 4
property_phone_number_ 4
property_total_unit_count_ 4
renewal_expiration_date_ 3
renewal_id_ 3
renewal_option_code_ 3
renewal_option_name_ 3
renewal_rents_final_ind_ 3
renewal_stage_expiration_date_ 3
renewal_status_code_ 3
renewal_status_name_ 3
renewal_type_name_ 3
rent_to_FMR_description
rent_to_FMR_ratio
servicing_site_name_text_ 4
source
source_ 2
source_ 3
source_ 4
source_ 5
state_code_ 4
tracs_current_expiration_date
tracs_current_expiration_date_ 3
tracs_effective_date
tracs_effective_date_ 3
tracs_overall_exp_fiscal_year
tracs_overall_expiration_date
tracs_overall_expiration_date_ 3
tracs_overall_expire_quarter
tracs_status_name
utility_allowance_amount_ 5
zip4_code_ 4
zip_code_ 4

,0BR_FMR,0BR_count,1BR_FMR,1BR_count,2BR_FMR,2BR_count,3BR_FMR,3BR_count,4BR_FMR,4BR_count,...,tracs_effective_date,tracs_effective_date_ 3,tracs_overall_exp_fiscal_year,tracs_overall_expiration_date,tracs_overall_expiration_date_ 3,tracs_overall_expire_quarter,tracs_status_name,utility_allowance_amount_ 5,zip4_code_ 4,zip_code_ 4
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,NaN,12.0,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaT,NaT,NaN,NaN,16.0,NaN,NaN
2,0.0,0.0,1348.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2022-08-02,2022-08-02,2042.0,2042-08-31,2042-08-31,Q4,Active,0.0,2805,03101
3,0.0,0.0,1098.0,79.0,1258.0,1.0,0.0,0.0,0.0,0.0,...,2021-11-01,2021-11-01,2027.0,2026-10-31,2026-10-31,Q1,Active,40.0,5406,64030
4,0.0,0.0,1098.0,79.0,1258.0,1.0,0.0,0.0,0.0,0.0,...,2021-11-01,2021-11-01,2027.0,2026-10-31,2026-10-31,Q1,Active,69.0,5406,64030

In [174]:
def load_excel_files(folder_path):
    """
    Load all Excel files from a folder into a list of DataFrames.

    Parameters:
    folder_path (str): Path to the folder containing Excel files.

    Returns:
    list of pandas.DataFrame: List of DataFrames containing data from each Excel file.
    """
    dfs = []
    files = os.listdir(folder_path)
    for file in files:
        if file.endswith('.xlsx') or file.endswith('.xls'):
            print(file)
            file_path = os.path.join(folder_path, file)
            df = pd.read_excel(file_path)
            
            # If 'REMS Proerty ID' exists, rename it to 'property_id'
            if 'REMS Proerty ID' in df.columns:
                df = df.rename(columns={'REMS Proerty ID': 'property_id'})
                
            # Reorder columns to ensure 'source' column comes first
            if 'source' in df.columns:
                cols = list(df.columns)
                cols.insert(0, cols.pop(cols.index('source')))
                df = df[cols]
            
            dfs.append(df)
    
    return dfs

# Load all Excel files into a list of DataFrames
folder_path = "/Users/nicobykhovsky/Desktop/HUDsearch"
safmr = load_excel_files(folder_path)[0]

fy2024_safmrs_revised.xlsx

In [175]:
safmr.head()

,ZIP\nCode,HUD Area Code,HUD Metro Fair Market Rent Area Name,SAFMR\n0BR,SAFMR\n0BR -\n90%\nPayment\nStandard,SAFMR\n0BR -\n110%\nPayment\nStandard,SAFMR\n1BR,SAFMR\n1BR -\n90%\nPayment\nStandard,SAFMR\n1BR -\n110%\nPayment\nStandard,SAFMR\n2BR,SAFMR\n2BR -\n90%\nPayment\nStandard,SAFMR\n2BR -\n110%\nPayment\nStandard,SAFMR\n3BR,SAFMR\n3BR -\n90%\nPayment\nStandard,SAFMR\n3BR -\n110%\nPayment\nStandard,SAFMR\n4BR,SAFMR\n4BR -\n90%\nPayment\nStandard,SAFMR\n4BR -\n110%\nPayment\nStandard
0,76437,METRO10180M10180,"Abilene, TX MSA",700,630,770,710,639,781,910,819,1001,1230,1107,1353,1490,1341,1639
1,76443,METRO10180M10180,"Abilene, TX MSA",700,630,770,710,639,781,910,819,1001,1230,1107,1353,1490,1341,1639
2,76464,METRO10180M10180,"Abilene, TX MSA",700,630,770,710,639,781,910,819,1001,1230,1107,1353,1490,1341,1639
3,76469,METRO10180M10180,"Abilene, TX MSA",700,630,770,710,639,781,910,819,1001,1230,1107,1353,1490,1341,1639
4,79501,METRO10180M10180,"Abilene, TX MSA",820,738,902,830,747,913,1060,954,1166,1410,1269,1551,1700,1530,1870

In [ ]:
combined_df.shape[0]

In [ ]:
def check_duplicates(dataframe):
    """
    Check for duplicates in the 'property_id' field of the given DataFrame.

    Parameters:
    dataframe (pandas.DataFrame): DataFrame to check for duplicates.

    Returns:
    tuple: A tuple containing the count of duplicates and a DataFrame containing the duplicate rows.
    """
    duplicate_rows = dataframe[dataframe.duplicated(subset=['property_id'], keep='last')]
    
    num_duplicates = len(duplicate_rows)
    
    return num_duplicates, duplicate_rows

num_duplicates, duplicate_rows = check_duplicates(combined_df)
print("Number of duplicates:", num_duplicates)
print("Duplicate rows:")
duplicate_rows