In [1]:
import pandas as pd
import os
!pip install openpyxl
import openpyxl

Requirement already satisfied: openpyxl in ./myenv1/lib/python3.12/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in ./myenv1/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [15]:
def load_excel_files(folder_path):
    """
    Load all Excel files from a folder into a single DataFrame.

    Parameters:
    folder_path (str): Path to the folder containing Excel files.

    Returns:
    pandas.DataFrame: Concatenated DataFrame containing data from all Excel files.
    """
    dfs = []
    files = os.listdir(folder_path)
    
    for file in files:
        if file.endswith('.xlsx') or file.endswith('.xls'):
            file_path = os.path.join(folder_path, file)
            df = pd.read_excel(file_path)
            dfs.append(df)
    
    concatenated_df = pd.concat(dfs, ignore_index=True)
    
    return concatenated_df

folder_path = "/Users/nicobykhovsky/Desktop/HUDsearch/excelFiles"
combined_df = load_excel_files(folder_path)

property_id_column = combined_df['property_id']
combined_df.drop(columns=['property_id'], inplace=True)
combined_df.insert(0, 'property_id', property_id_column)

combined_df.head()

/Users/nicobykhovsky/Desktop/HUDsearch/myenv1/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,property_id,contract_number,property_name_text,tracs_effective_date,tracs_overall_expiration_date,tracs_overall_exp_fiscal_year,tracs_overall_expire_quarter,tracs_current_expiration_date,tracs_status_name,contract_term_months_qty,...,mgmt_agent_zip_code,mgmt_agent_zip4_code,mgmt_agent_main_phone_number,mgmt_agent_main_fax_number,mgmt_contact_email_text,assistance_bedroom_count,assistance_unit_count,contract_rent_amount,fair_market_rent_amount,utility_allowance_amount
0,800000008.0,NH36T791024,Amoskeag Residences Group Home ...,2022-08-02,2042-08-31,2042.0,Q4,2042-08-31,Active,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,800000012.0,MO16T791008,BOOTH MANOR ...,2021-11-01,2026-10-31,2027.0,Q1,2024-10-31,Active,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,800000013.0,FL29Q921001,BRADENTON VOA LIVING CENTER ...,2023-06-01,2024-05-31,2024.0,Q3,2024-05-31,Active,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,800000015.0,NY06Q901003,BROOME CO VOA LIVING CTR ...,2023-06-03,2024-06-02,2024.0,Q3,2024-06-02,Active,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800000016.0,MD06L000037,PEDESTAL GARDENS AFFORDABLE APTS. ...,2021-04-01,2041-03-31,2041.0,Q2,2024-03-31,Active,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
combined_df.shape[0]

125819

In [21]:
def check_duplicates(dataframe):
    """
    Check for duplicates in the 'property_id' field of the given DataFrame.

    Parameters:
    dataframe (pandas.DataFrame): DataFrame to check for duplicates.

    Returns:
    tuple: A tuple containing the count of duplicates and a DataFrame containing the duplicate rows.
    """
    duplicate_rows = dataframe[dataframe.duplicated(subset=['property_id'], keep='last')]
    
    num_duplicates = len(duplicate_rows)
    
    return num_duplicates, duplicate_rows

num_duplicates, duplicate_rows = check_duplicates(combined_df)
print("Number of duplicates:", num_duplicates)
print("Duplicate rows:")
duplicate_rows

Number of duplicates: 99050
Duplicate rows:

,property_id,contract_number,property_name_text,tracs_effective_date,tracs_overall_expiration_date,tracs_overall_exp_fiscal_year,tracs_overall_expire_quarter,tracs_current_expiration_date,tracs_status_name,contract_term_months_qty,...,mgmt_agent_zip_code,mgmt_agent_zip4_code,mgmt_agent_main_phone_number,mgmt_agent_main_fax_number,mgmt_contact_email_text,assistance_bedroom_count,assistance_unit_count,contract_rent_amount,fair_market_rent_amount,utility_allowance_amount
0,800000008.0,NH36T791024,Amoskeag Residences Group Home ...,2022-08-02,2042-08-31,2042.0,Q4,2042-08-31,Active,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,800000012.0,MO16T791008,BOOTH MANOR ...,2021-11-01,2026-10-31,2027.0,Q1,2024-10-31,Active,60.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,800000013.0,FL29Q921001,BRADENTON VOA LIVING CENTER ...,2023-06-01,2024-05-31,2024.0,Q3,2024-05-31,Active,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,800000015.0,NY06Q901003,BROOME CO VOA LIVING CTR ...,2023-06-03,2024-06-02,2024.0,Q3,2024-06-02,Active,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,800000016.0,MD06L000037,PEDESTAL GARDENS AFFORDABLE APTS. ...,2021-04-01,2041-03-31,2041.0,Q2,2024-03-31,Active,240.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125807,800019592.0,SC16T821011,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,36.0,753.0,1074.0,0.0
125810,800019594.0,SC160072001,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,18.0,1073.0,1074.0,60.0
125811,800019594.0,SC160072001,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.0,44.0,1288.0,1206.0,70.0
125815,800019597.0,SC160052018,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,40.0,630.0,757.0,82.0
125817,800019599.0,SC160075061,NaN,NaT,NaT,NaN,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,32.0,718.0,825.0,94.0